parameters:
	ignoreErrors:
		-
			message: '#^Call to preg_quote\(\) is missing delimiter / to be effective\.$#'
			identifier: argument.invalidPregQuote
			count: 1
			path: ../../Classes/Service/PwnedPasswordsService.php
